:root {
    --main--color: #dc143c;
}

body {
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

@media (max-width: 500px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }
}


/* *******************************************************start settings box*******************************************************  */
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: var(--main--color);
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: 0.3s;
}

.open {
    left: 0;
}

.setting-box .toggle-setting{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: var(--main--color);
    text-align: center;
    cursor: pointer;
    border-radius: 0 50% 50% 0;
}

.setting-box .toggle-setting .fa-gear {
    width: 30px;
    padding: 8px 0;
}

.setting-box .option-box {
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.setting-box .option-box:hover {
    background-color: #eee;
    border-radius: 20px;
}

.setting-box .option-box h4 {
    margin: 0;
    color: white;
    font-size: 14px;
}

.setting-box .option-box:hover h4 {
    color: #333;
}

.setting-box .option-box .color-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}

.setting-box .option-box .color-list li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
    background-color: white;
}

.setting-box .option-box .color-list li.active {
    opacity: 1;
    border: 3px solid white;
}

.setting-box .option-box .color-list li:first-child {
    background-color: #dc143c;
}

.setting-box .option-box .color-list li:nth-child(2) {
    background-color: #009688;
}

.setting-box .option-box .color-list li:nth-child(3) {
    background-color: #4caf50;
}

.setting-box .option-box .color-list li:nth-child(4) {
    background-color: #03a9f4;
}

.setting-box .option-box .color-list li:nth-child(5) {
    background-color: #85315f;
}

.setting-box .option-box .Yes,
.setting-box .option-box .No {
    width: 50px;
    background-color: #009688;
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 7px;
    opacity: .5;
    cursor: pointer;
}

.setting-box .option-box .random-background span.active {
    opacity: 1;
}
/* *******************************************************end settings box*******************************************************  */
.section-container .option-section {
    padding: 10px;
    margin: 10px;
}

.section-container .option-section h4 {
    margin: 0;
    color: white;
    font-size: 14px;
    text-align: center;
}

.section-container .option-section .ul {
    display: flex;
}

.section-container .option-section .ul .section-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 10px 0 0;
    cursor: pointer;
}

.section-container .option-section .ul .section-list li {
    padding: 30px 0;
    transition: 0.5s;
}

.section-container .option-section .ul .section-list a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.section-container .option-section .ul .section-list li:hover a{
    color: #333;
}

.section-container .option-section .ul .section-list li:hover{
    transform: translateX(20px);
}


.section-container .option-section .icon-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0px;
    color: white;
}

.section-container .option-section .icon-list  li {
    padding: 30px 0;
    margin-left: 38px;
}

/* *******************************************************end side-section*******************************************************  */
#toggle-scrol {
    position: fixed;
    height: 20px;
    right: 20px;
    bottom: 50px;
    color: var(--main--color);
    z-index: 1000;
    text-align: center;
    display: none;
}
#toggle-scrol .fa-circle-up {
    font-size: 35px;
    cursor: pointer;
}
/* *******************************************************end scrol box*******************************************************  */
.landing-page {
    min-height: 100vh;
    background-image: url(../imgs/01.jpg);
    background-size: cover;
    position: relative;
}

.landing-page .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-area {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
}

.header-area .logo  {
    width: 300px;
    padding: 7px;
    font-weight: bold;
    font-size: 40px;
    color: var(--main--color);
    position: relative;
}

.header-area .conteniar-links {
    width: 100%;
    text-align: right;
}

.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}

.header-area .toggle-menu.menu-active::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 27px;
    left: 10px;
}

.header-area .toggle-menu span {
    display: block;
    background-color: white;
    height: 4px;
    margin-bottom: 4px;
}

.header-area .links {
    list-style: none;
    text-align: right;
    padding-left: 0;
    padding-right: 20px;
    font-size: 15px;
}

.header-area .links li {
    display: inline-block;
    margin-left: 20px;
}

.header-area .links li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border-style: none;
}


.header-area .links li a:hover {
    color: var(--main--color);
    border-bottom: 1px solid var(--main--color);
}

.landing-page .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    width: 45%;
}

.landing-page .intro-text p {
    line-height: 2;
}

.landing-page .intro-text span {
    color: var(--main--color);
}

@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: white;
        padding: 20px;
        display: block;
        position: absolute;
        left: 0;
        top: 65px;
        width: 100%;
        border-radius: 4px;
    }
    .header-area .links.open li {
        display: block;
        text-align: center;
        margin: 0px 0px 20px;
    }
    .header-area .links.open li a:hover {
        letter-spacing: 2px;
    }
    .header-area .links.open li a {
        color: var(--main--color);
        font-weight: bold;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
    .landing-page .intro-text {
        width: 90%;
    }
    .landing-page .intro-text{
        top: 420px;
    }
}

/* *******************************************************end landing page*******************************************************  */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .about-us {
        display: block;
        text-align: center;
    }
}

.about-us .info-box {
    flex: 1;
    padding: 30px;
}

.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 10px;
}

.about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
}

.about-us .image-box {
    flex: 1;
    text-align: center;
}

.about-us .image-box img {
    width: 270px;
}
/* *******************************************************end about-us*******************************************************  */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.skills  h2 {
    font-weight: bold;
    font-size: 35px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}

.skills .skill-box {
    background-color: white;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}


.skills .skill-box .skill-name {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}

@media  (max-width: 575px) {
    .skills .skill-box {
        display: block;
    }
    .skills .skill-box .skill-name {
        width: 100%;
        margin-bottom: 15px;
    }
}

.skills .skill-box  .skill-progress {
    width: 100%;
    height: 30px;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.skills .skill-box  .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main--color);
    transition: .6s;
}
/* *******************************************************end skills*******************************************************  */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallery h2 {
    font-weight: bold;
    font-size: 35px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.gallery .images-box img{
    width: 350px;
    transition: .5s;
    margin-bottom: 22px;
    cursor: pointer;
}

.gallery .images-box img:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.458);
    transform: scale(1.1);
    background-color: transparent;
}

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    z-index: 1001;
}

.popup-box img {
    max-width: 100%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.458);
}

.close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--main--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%; 
    font-weight: bold;
    cursor: pointer;
}
/* *******************************************************end gallery*******************************************************  */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.timeline h2 {
    font-weight: bold;
    font-size: 35px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}


.timeline .timeline-content::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}

.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 2px 5px;
    font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .left::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main--color);
    position: absolute;
    right: -35px;
    border-radius: 50px;
    top: 20px;
}

.timeline .timeline-content .right {
    float: right;
}

.timeline .timeline-content .right::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main--color);
    position: absolute;
    left: -35px;
    border-radius: 50px;
    top: 20px;
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: white;
}

.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 10px;
}


.timeline .timeline-content .content p {
    color: #666;
    margin: 0;
    line-height: 1.6;
}

.clearfix {
    clear: both;
}

.timeline .timeline-content .left .content:before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent white;
    height: 0;
    width: 0;
    position: absolute;
    right: -19px;
    top: 20px;
}

.timeline .timeline-content .right .content:before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent white transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: -19px;
    top: 20px;
}
/* *******************************************************end timeline*******************************************************  */

.features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.features h2 {
    font-weight: bold;
    font-size: 35px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}

.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width: 991px) {
    .features .feat-box {
        width: calc(100% / 2);
    }    
}

@media (max-width: 575px) {
    .features .feat-box {
        width: 100%;
    }    
}

.features .feat-box:hover{
    box-shadow: 10px 10px 5px 12px #00000075;
    transform: scale(1.1);
}

.features .feat-box img {
    width: 170px;
    margin-top: 20px;
}

.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}

.features .feat-box h4::before{
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}

.features .feat-box p {
    width: 80%;
    margin: 0 auto 20px;
    line-height: 1.7;
    color: #706f6f;
}
/* *******************************************************end features*******************************************************  */
.testimonials {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.testimonials::before {
    content: "";
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
} 

.testimonials::after {
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
} 

.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin: 0 0 70px;
    text-align: left;
    position: relative;
    z-index: 2;
}

.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: white;
    padding: 20px;
} 

@media (max-width: 991px) {
    .testimonials .ts-box {
        width: 100%;
        margin-bottom: 20px;
    }
}

.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}

.testimonials .ts-box > p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;
}

.testimonials .ts-box .person-info {
    overflow: hidden;
}

.testimonials .ts-box .person-info img {
    width: 100px;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid var(--main--color);
}

.testimonials .ts-box .person-info h4 {
    margin: 22px 0 5px;
}

.testimonials .ts-box .person-info p {
    color: #707070;
    margin: 2px 0;
    font-size: 12px;
}

.testimonials .ts-box .person-info span {
    color: var(--main--color);
}
/* *******************************************************end testimonials*******************************************************  */
.contact {
    min-height: 600px;
    background-image: url('../imgs/contact.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}


.contact .container {
    position: relative;
    z-index: 2;
}

.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}

.contact h2 {
    font-weight: bold;
    font-size: 35px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}

.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}

.contact form .left {
    float: left;
    width: 49%;
}

.contact form .right {
    float: right;
    width: 49%;
}

.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: none;
}
.contact form input {
    height: 50px;
}

.contact form textarea {
    height: 180px;
}

.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: white;
    cursor: pointer;
}
/* *******************************************************end contact*******************************************************  */
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: radial-gradient(white -15%,var(--main--color));
    text-align: center;
}

.head-footer {
    font-size: 30px;
    color: var(--main--color);
    letter-spacing: 2px;
    margin-top: 20px;
}

.head-footer  p {
    font-size: 7px;
    color: #666;
    text-align: center;
    letter-spacing: 4px;
 }
 
 .icon-footer {
    position: relative;
    bottom: 15px;
 }

 .icon-footer .icon {
    padding: 0 20px;
    cursor: pointer;
    text-align: center;
    color: var(--main--color);
    font-size: 25px;
 }
.icon-footer .Copyright {
    color: #666;
    text-align: center;
}  

@media (max-width: 575px) {
    .icon-footer .Copyright {
        font-size: 12px;
    }
}

.Copyright span {
    color: var(--main--color);
}
/* *******************************************************end footer*******************************************************  */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}